body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background-color: #FF0000;
  transform-origin: 0%;
  z-index: 150;
}

.parallelogram {
  margin-left: 0.8em;
  width: 20em;
  height: 1.5em;
  border-top: 0.45em solid #DBD8F0;
  border-bottom: 0.45em solid #DBD8F0;
  transform: skew(-10deg);
}

/* @media (max-width: 768px) {
  .mobileView {
    flex-direction: column;
  }
} */
